body{
	font: 15px/1.5 'Montserrat', Ariel, helvetica, san-serif;
	padding: 0px;
	margin: 0px;
	background-color: #ffffff;
	color: #333333;
}
/*global*/
.container{
	width: 80%;
	margin: auto;
	overflow: hidden;
}
ul{
	margin: 0;
	padding: 0;
}
/*header*/
header{
	border-bottom: #ffffff 2px solid;
	padding-top: 5px;
	min-height: 5px;
	background-color: #030520;

}
header h1#title{
	font-size: 2.5em;
	color: #ffffff;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	padding: 0;
	margin: 0;
}
header a{
	text-decoration: none;
	text-transform: capitalize;
	font-size: 1.3em;
	color: #ffffff;
}
header li{
	float: left;
	display: inline;
	padding: 0px 50px 0px 50px;
}
header .nav_right{
	float: right;
}
header nav{
	margin-top: 5px;
}
header a:hover{
	font-weight: bolder;
}
 .active { 
	font-weight: bold;
}
figure{
	position: relative;
	top: 0; left: 0;
	max-width: 100%;
	overflow: hidden;
}
figure img{
	max-width: 50%;
	float: left;
	margin: 0 1em 1em 0;
}
figcaption{
	position: absolute;
	top: 0; right: 0;
	max-width: 45%;
	font-weight: bolder;
}
/*showcase*/


